<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hm.edu.pulsebuddy"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <permission
        android:name="hm.edu.pulsebuddy.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="hm.edu.pulsebuddy.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/pb"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="hm.edu.pulsebuddy.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hm.edu.pulsebuddy.misc.CalculationActivity"
            android:label="@string/calculation"
            android:parentActivityName="hm.edu.pulsebuddy.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hm.edu.pulsebuddy.misc.CalibrationActivity"
            android:label="@string/calibration"
            android:parentActivityName="hm.edu.pulsebuddy.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hm.edu.pulsebuddy.misc.Help"
            android:label="@string/help"
            android:parentActivityName="hm.edu.pulsebuddy.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hm.edu.pulsebuddy.misc.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="hm.edu.pulsebuddy.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hm.edu.pulsebuddy.misc.MapsActivity"
            android:label="@string/maps"
            android:parentActivityName="hm.edu.pulsebuddy.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hm.edu.pulsebuddy.graph.GraphDayActivity"
            android:label="@string/dm"
            android:parentActivityName="hm.edu.pulsebuddy.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hm.edu.pulsebuddy.ble.DeviceScanActivity"
            android:label="@string/ble_title_devices"
            android:noHistory="true"
            android:parentActivityName="hm.edu.pulsebuddy.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="hm.edu.pulsebuddy.sportmode.SportTestActivity"
            android:label="@string/sport_mode_title_activity" >
        </activity>
        <activity
            android:name="hm.edu.pulsebuddy.sportmode.SportTestNoteFragmentteFragment"
            android:label="@string/sport_mode_title_activity_sport_test_fragment" >
        </activity>
        <activity
            android:name="hm.edu.pulsebuddy.sportmode.SportModeActivity"
            android:label="@string/title_activity_sport_mode" >
        </activity>
        <activity
            android:name="hm.edu.pulsebuddy.sportmode.SportTestStartFragmentrtFragment"
            android:configChanges="orientation"
            android:label="@string/sport_mode_title_activity_sport_test_fragment" >
            
        </activity>
        <activity
            android:name="hm.edu.pulsebuddy.trainingsplan.TrainingsplanActivity"
            android:label="@string/title_activity_trainingsplan"             
            android:parentActivityName="hm.edu.pulsebuddy.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name="hm.edu.pulsebuddy.ble.BluetoothLeService"
            android:enabled="true"
            android:parentActivityName="hm.edu.pulsebuddy.MainActivity" />
        <service
            android:name="hm.edu.pulsebuddy.activity.ActivityRecognitionIntentService"
            android:exported="true" />
        <service android:name="hm.edu.pulsebuddy.sportmode.SportTestConconiService" >
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCFjhhdNnWPIocLTs2-nozSCqt2538TKPU" />


    </application>

</manifest>